
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/back2.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <!-- <h3 class="">Industria Metalica de Transformación</h3> -->
                <h1 style="font-size: 40px" class="title">Transforma, maneja y mecaniza tus procesos agrícolas</h1>
                <!-- <h3 class="">Nuestro sitio se encuentra actualmente en construcción</h3> -->
                <div class="text-center">
                    <a href="https://www.facebook.com/pages/Industria-Metalica-de-Transformacion-SA-de-CV/981432678604297"
                        class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-left">
                    <h2 class="title" style="font-family:'Moon', sans-serif;
                    font-size: 65px;
                    color: #2c2c2c;
                    font-weight: 700;
                    margin-bottom: 10px;">¿Quiénes somos?</h2>
                    <div class="separator separator-primary" 
                    style="margin-top: 0px; 
                    margin-left:0px;
                    width: 395px;
                    border: solid 2px #f04c08;"></div>
                    <p style="font-size: 18px; text-align: justify">Somos una empresa dedicada a la fabricación y
                        comercialización de
                        implementos y refacciones agrícolas, techos y estructuras para corrales, generadora de asesoría
                        y seguimiento con proyectos de gobierno.</p>
                    <p style="font-size: 18px; text-align: justify">Estamos comprometidos con nuestros clientes
                        cumpliendo con sus
                        requerimientos, expectativas y estándares de calidad. Contamos con 18 años en el mercado y
                        siendo distribuidores de las mejores marcas.</p>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left"
                            style="background-image: url('assets/img/landingImg1.jpg'); ">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary" style="top: 345px; text-align: justify ">"Tratamos
                                a los demás como
                                deseamos ser tratados, con dignidad, respeto y confianza es por ello que la integridad
                                personal y profesional, honestidad, transparencia y sentido de justicia son valores
                                fundamentales en nuestro trabajo."
                                <br>
                                <br>
                                <small>-CEO</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container"
                            style="background-image: url('assets/img/landingImg3.jpg') ; height: 375px;"></div>
                    </div>
                    <div class="col-md-5" style="text-align: justify">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right"
                            style="background-image: url('assets/img/landingImg2.jpg')"></div>
                        <h3>¿Que es lo quenos identifica en el mercado?</h3>
                        <p style="font-size: 18px;">Nuestros productos y servicios son desarrollados especialmente para
                            el sector agrícola y ganadero, contamos con una alta variedad y precios accesibles.
                        </p>
                        <p style="font-size: 18px;"> Trabajamos comprometidos con los objetivos de la empresa y los
                            clientes. Somos conscientes de que el aporte de nuestro espíritu emprendedor conduce al
                            éxito de todos.
                        </p>
                        <p style="font-size: 18px;"> Somos lo que hacemos y estamos comprometidos con la filosofía de
                            mejora continua en el cumplimiento de nuestras obligaciones. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-contact-us text-center" id=¨Contacto¨>
        <div class="container">
            <h2 class="title" style="font-family: 'Moon'">Algunos de nuestros productos</h2>
            <!-- <p style="font-size: 18px;">Haznos saber tus comentarios o cotiza algun servicio o producto directamente con
                nosotros.</p> -->
            <div class="row">
                <div class="col-lg-6 col-md-8 ml-auto mr-auto">
                    <ul style="text-align: left">

                        <li>Acamadora, Fertilizadora y Acolchonadora</li>
                        <li>Asesoría y Seguimiento con Proyectos de Gobierno. </li>
                        <li>Comederos</li>
                        <li>Cuchillas Terraceras</li>
                        <li>Cultivador Ajustable</li>
                        <li>Multicultivadores y Subsuelos</li>
                        <li>Cultivadoras Rotativas de Discos Dentados</li>


                    </ul>
                </div>
                <div class="col-lg-6 col-md-8 ml-auto mr-auto">
                    <ul style="text-align: left">

                        <li>Niveladoras (Hidráulicas y Mecánicas)</li>
                        <li>Plumas (de Levante Mecánicas e Hidráulicas)</li>
                        <li>Prensa Ganadera</li>
                        <li>Refacciones</li>
                        <li>Remolques (Cama Baja, Cama Alta, Ganaderos, de Volteo Hidráulico, Cuello de Ganso, con
                            Tanque Nodriza)</li>
                        <li>Zanjeadores (Fijos y Telescópicos)</li>

                    </ul>
                </div>

            </div>
        </div>
    </div>



