
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/Fachada.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <!-- <img class="n-logo" style="max-width: 396px;" src="assets/img/IMT.png" alt=""> -->
                <h1 class="h1-seo" style="font-family: 'Moon';font-size: 53px;" >Orgullosamente <strong style="color: #f04c08; ">mexicanos</strong> 20 años trabajando para nuestra tierra y su gente</h1>
                <!-- <h3>Transforma, maneja y mecaniza tus procesos agrícolas</h3> -->
            </div>
            <h6 class="category category-absolute">Desarrollado por
                <a style="color: white" target="_blank">
                <!-- <a href="https://invisionapp.com/" style="color: white" target="_blank"> -->
                    GsCore Solutions
                </a></h6>
        </div>
    </div>

    <div class="main">
        <!-- <div class="section section-images">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="hero-images-container">
                          <img src="assets/img/hero-image-2.png" alt="">
                    </div>
                    <div class="hero-images-container-1">
                            <img src="assets/img/remolque.png" alt="">
                      </div>
                      <div class="hero-images-container-2">
                          <img src="assets/img/hero-image-3.png" alt="">
                      </div>
                  </div>
              </div>
            </div> -->
        </div>
        <!-- <app-basicelements></app-basicelements>
        <app-navigation></app-navigation>

        <app-typography></app-typography> -->


        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8" style="text-align: center">
                        <h2 class="title seccionTitleProducts">Bienvenidos</h2>
                        <h5 class="description" style="text-align: justify; color:#2c2c2c; ">Nosotros somos una empresa dedicada a
                            la fabricación y comercialización de
                            implementos y refacciones agrícolas, techos y estructuras para corrales, generadora de
                            asesoría
                            y seguimiento con proyectos de gobierno.</h5>
                        <h5 class="description" style="text-align: justify; color:#2c2c2c">Estamos comprometidos con
                            nuestros clientes cumpliendo con sus
                            requerimientos, expectativas y estándares de calidad. Contamos con 20 años en el mercado y
                            siendo distribuidores de las mejores marcas.</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-signup"
            style="background-image: url('assets/img/back1.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
            <div class="container login-page">
                <div class="row" >
                        <div class="col-lg-6  col-md-8 mr-0"></div>
                        <div class="col-lg-6  col-md-8 mr-0" style="text-align: left; background-color: white; padding: 35px 25px;">
                                <h2 class="title seccionTitleProducts">Contáctanos</h2>
                                <p style="font-size: 18px;">Haznos saber tus comentarios o cotiza con
                                    nosotros.</p>
                        <!-- <form id="my-form" action="https://formspree.io/xpzjznqq" method="POST">
                            <h4 style="text-align: left; padding: 0 40px;">Nombre</h4>
                            <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" >
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </span>
                                </div>
                                <input name="name" type="text" required class="form-control" placeholder="Juan Perez"
                                    (focus)="focus=true" (blur)="focus=false">
                            </div>
                            <h4 style="text-align: left; padding: 0 40px;">Telefono</h4>
                            <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" >
                                        <i class="now-ui-icons tech_mobile"></i>
                                    </span>
                                </div>
                                <input name="phone" required class="form-control" placeholder="(352) 123 45 67"
                                    (focus)="focus1=true" (blur)="focus1=false" type="tel"
                                    pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                            </div>
                            <h4 style="text-align: left; padding: 0 40px;">Correo</h4>
                            <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus2===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" >
                                        <i class="now-ui-icons ui-1_email-85"></i>
                                    </span>
                                </div>
                                <input type="email" name="_replyto" required class="form-control"
                                    placeholder="juan@correo.com" (focus)="focus2=true" (blur)="focus2=false">
                            </div>
                            <h4 style="text-align: left; padding: 0 40px;">Motivo</h4>
                            <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus3===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" >
                                        <i class="now-ui-icons ui-2_chat-round"></i>
                                    </span>
                                </div>
                                <select name="type" id="type" form="my-form" class="form-control"
                                    style="height: calc(2.25rem + 11px);" (blur)="focus3=false"
                                    (focus)="focus3=true">
                                    <option value="" selected disabled hidden>Seleccione un motivo</option>
                                    <option>Cotización</option>
                                    <option>Refacciones</option>
                                    <option>Dudas o comentarios</option>
                                    <option>Otro</option>
                                </select>
                            </div>
                            <div class="textarea-container">
                                <textarea class="form-control" required name="body" rows="4" cols="80"
                                    placeholder="Estoy interesado en cotizar con ustedes..."></textarea>
                            </div>
                            <div class="send-button">
                                <button id="my-form-button" class="btn btn-primary btn-round btn-block btn-lg">
                                    Enviar
                                </button>
                                <p id="my-form-status"></p>
                            </div>
                        </form> -->
                        <div class="send-button">
                            <!-- <button href="./contacto" class="btn btn-primary btn-round btn-block btn-lg">
                                <a  style="color: white">Enviar</a>
                            </button> -->
                            <a class="btn btn-primary btn-round btn-block btn-lg" style="color:white;" (click)="goToContact()" target="_self">
                                <p style="margin-bottom: 0px;"><strong>Contáctanos</strong></p>
                            </a>
                        </div>
                        
                    </div>
                </div>
                <!-- <div class="col text-center">
                    <a [routerLink]="['/examples/login']" class="btn btn-simple btn-round btn-white btn-lg">View Login Page</a>
                </div> -->
            </div>
        </div>

        <!-- <div class="section section-download" id="#download-section" data-background-color="black">
            <div class="container">
                
                <div class="row justify-content-md-center sharing-area text-center">
                  <div class="text-center col-md-12 col-lg-8">
                    <h3>Ponte en contacto con nosotros</h3>
                  </div>
                  <div class="text-center col-md-12 col-lg-8">
                    <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                      <i class="fab fa-facebook-square"></i>
                    </a>

                  </div>
                </div>
            </div>
        </div>
    </div> -->


      
  