<div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
        style="background-image: url('assets/img/back2.jpg');">
    </div>
    <div class="container">
        <div class="content-center">
            <!-- <h3 class="">Industria Metalica de Transformación</h3> -->
            <h1 style="font-size: 40px" class="title">Transforma, maneja y mecaniza tus procesos agrícolas</h1>
            <!-- <h3 class="">Nuestro sitio se encuentra actualmente en construcción</h3> -->
            <div class="text-center">
                <a href="https://m.facebook.com/Industria-Met%C3%A1lica-de-Transformaci%C3%B3n-108113634679148/"
                    class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-google-plus"></i>
                      </a> -->
            </div>
        </div>
    </div>
</div>
<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-left" style=" flex: none;
            max-width: 75%;">
                <a style="text-decoration: underline; cursor: pointer;" (click)="goToProductDetails()">Productos<strong>
                        ></strong></a>
                <h2 class="title" style="font-family:'Moon', sans-serif;
                        font-size: 45px;
                        color: #2c2c2c;
                        font-weight: 700;
                       ">{{producto['product_name']}}</h2>
                <div class="separator separator-primary" style="margin-top: 0px; 
                        margin-left:0px;
                        width: 395px;
                        border: solid 2px #f04c08;"></div>

            </div>
        </div>
        <div id="ProductViewer" class="section-story-overview">
            <div class="row">
                <div class="col-md-10">
                    <img class="image-container image-left img-prod-desc" [src]="currentImage"
                        style="box-shadow: none; border-radius:0px;height: auto; width: 100%;">
                    <!-- First image on the left side -->

                    <!-- Second image on the left side of the article -->
                </div>
                <div class="col-md-2" style="text-align: justify">
                    <!-- First image on the right side, above the article -->
                    <div class="model-area-prod-desc " style="background:none; box-shadow: none;">
                        <h2 class="title" style="font-family:'Moon', sans-serif;
                        font-size: 85px;
                        color: #f04c08;
                        font-weight: 700;
                        margin-bottom: 10px;
                        margin-left: 20px;">{{producto['product_model']}}</h2>
                        <p style="font-size: 18px; background-color: #fff; padding-left: 10px; margin-left: 20px;">{{producto['product_desc']}}
                        </p>
                    </div>

                </div>
            </div>
            <div class="row" style="margin-bottom: 100px;"> 
                <div class="col-md-8">
                    <div class="row">
                        <div *ngFor="let img of producto['product_img']" class="col-md-4">
                            <img class="image-container image-left img-prod-desc" [ngClass]="{'oppacity': (img == currentImage)}" (click)="changeCurrentImage(img)" [src]="img"
                            style="box-shadow: none; border-radius:0px;height: auto; width: 100%;">
                        </div>
                       
                    </div>  
                </div>
            </div>
            <div class="row" style=" width: 100% !important; overflow-x: auto;">
                <div class="col-md-8" style="margin-top: 80; margin-bottom: 50px;">
                    <h2 class="title" style="font-family:'Moon', sans-serif;
                    font-size: 45px;
                    color: black;
                    font-weight: 700;
                    margin-bottom: 10px;">{{product_mode_type}}</h2>
                    <p style="font-size: 18px; text-align: justify; background-color: #fff;">{{model_type_description}}</p>
                </div>
                <div  *ngIf="specs[0].spec != ''" class="col-md-8" style="margin-top: 80;">
                    <h2 class="title" style="font-family:'Moon', sans-serif;
                    font-size: 45px;
                    color: black;
                    font-weight: 700;
                    margin-bottom: 10px;">FICHA TÉCNICA</h2>
                    <table class="table table-hover ">
                        <thead>
                          <tr style="color: #f04c08;">
                            <!-- <th scope="col">#</th> -->
                            <th style="padding: .75rem 0.15rem .75rem 0.15rem" scope="col">ESPECIFICACIÓN</th>
                            <th style="padding: .75rem 0.15rem .75rem 0.15rem;text-align: center;" scope="col">UNIDAD</th>
                            <!-- <th style="padding: .75rem 0.15rem .75rem 0.15rem" scope="col">VALOR</th> -->
                            <th  *ngFor="let val of specs[0].value" style="padding: .75rem 0.15rem .75rem 0.15rem;text-align: center;" scope="col">{{val.key}} </th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let spec of specs">
                            <!-- <th scope="row">1</th> -->
                            <td style="padding: .0.15rem;">{{spec.spec}} </td>
                            <td style="padding: .0.15rem; text-align: center;">{{spec.unit}} </td>
                            <td *ngFor="let val of spec.value" style="padding: .0.15rem; text-align: center;">{{val.val}} </td>
                        </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
