
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/back2.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <!-- <h3 class="">Industria Metálica de Transformación</h3> -->
                <h1 style="font-size: 40px" class="title">Transforma, maneja y mecaniza tus procesos agrícolas</h1>
                <div class="text-center">
                    <a  href="https://m.facebook.com/Industria-Met%C3%A1lica-de-Transformaci%C3%B3n-108113634679148/" target="_blank"
                        class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a> -->
                </div>
            </div>
        </div>
    </div>



    <div class="section section-contact-us text-center" style="padding:0px !important; " id=¨Contacto¨>
        <div class="" style="max-width: none; padding: 0;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.4908700468523!2d-101.99730698507847!3d20.362641086362984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842c1f1d66a27c87%3A0x22b913b5e2e36614!2sIndustria%20Met%C3%A1lica%20de%20Transformaci%C3%B3n%2C%20S.A.%20de%20C.V.!5e0!3m2!1ses-419!2smx!4v1626191059253!5m2!1ses-419!2smx"
                onload="this.width=screen.width - 20" height="450" frameborder="0" style="border:0;"
                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                
        </div>
    </div>
    <div class="section section-contact-us text-center" id=¨Contacto¨>
        <div class="container">
            <div class="row justify-content-md-center sharing-area text-center" style="margin-top:0px;">
                <div class="text-center col-md-12 col-lg-8">
                    <a target="_blank" href="https://m.facebook.com/Industria-Met%C3%A1lica-de-Transformaci%C3%B3n-108113634679148/"
                        class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                        <i class="fab fa-facebook-square"></i>
                    </a>

                </div>
            </div>
            <h2 class="title seccionTitleProducts">Contáctanos</h2>
            <p style="font-size: 18px;">Haznos saber tus comentarios o cotiza algún servicio o producto directamente con
                nosotros.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <form id="my-form" action="https://formspree.io/xpzjznqq" method="POST">
                        <h4 style="text-align: left; padding: 0 40px;">Nombre Completo</h4>
                        <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            </div>
                            <input name="name" type="text" required class="form-control" placeholder="Juan Perez"
                                (focus)="focus=true" (blur)="focus=false">
                        </div>
                        <h4 style="text-align: left; padding: 0 40px;">Teléfono</h4>
                        <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons tech_mobile"></i>
                                </span>
                            </div>
                            <input name="phone" required class="form-control" placeholder="(352) 123 45 67"
                                (focus)="focus1=true" (blur)="focus1=false" type="tel"
                                pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                        </div>
                        <h4 style="text-align: left; padding: 0 40px;">Correo</h4>
                        <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus2===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                                </span>
                            </div>
                            <input type="email" name="_replyto" required class="form-control"
                                placeholder="juan@correo.com" (focus)="focus2=true" (blur)="focus2=false">
                        </div>
                        <h4 style="text-align: left; padding: 0 40px;">Motivo</h4>
                        <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus3===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons ui-2_chat-round"></i>
                                </span>
                            </div>
                            <select name="type" id="type" form="my-form" class="form-control"
                                style="height: calc(2.25rem + 11px);" (blur)="focus3=false" (focus)="focus3=true">
                                <option value="" selected disabled hidden>Seleccione un motivo</option>
                                <option>Cotización</option>
                                <option>Refacciones</option>
                                <option>Dudas o Comentarios</option>
                                <option>Otro</option>
                            </select>
                        </div>
                        <div class="textarea-container">
                            <textarea class="form-control" required name="body" rows="4" cols="80"
                                placeholder="Estoy interesado en cotizar con ustedes..."></textarea>
                        </div>
                        <div class="send-button">
                            <button id="my-form-button" class="btn btn-primary btn-round btn-block btn-lg">
                                Enviar
                            </button>
                            <p id="my-form-status"></p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

